*{
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color:#B3E5FC;
  color: white;
}

h1,h2,h3,h4,h5,h6,p,a,span,input{
  font-family: 'Raleway', sans-serif;

}

h6{
font-size: 3rem;
}

nav {
  background-color:#0288D1;
  display: block;
  width: 100%;
  float:left;
  list-style-type: none;
  font-family: 'Crimson Text';
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 20px;
}
a{
  width: 15%;
  text-decoration-line: none;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;

}

section{
  width: 50%;
  float:left;
  display: block;
  font-family: 'Raleway', sans-serif;
}
h2{
  font-size: 4rem;
  margin-left: 40%;
  color: black;
}

#postIMG,#heart{
  width:60%;
  margin-left:20%;
  margin-right:20%;
  font-size: 2rem;
}

#heart{
  width:60%;
  margin-left:35%;
  margin-right:20%;
  font-size: 2rem;
  color:black;
}

#postrow1a{
  font-size: 2rem;
  color: black;
  display: block;
  float: left;
  width: 100%;
  margin-top: 3%;
  margin-left: 40%;
}

#postrow1b{
  font-size: 2rem;
  color: black;
  display: block;
  float: left;
  width: 100%;
margin-left: 40%;

}
#hearttrash{
  color: black;
  display: block;
  float: left;
  width: 100%;
margin-left: 40%;
font-size: 2rem;
}

ul{
  list-style-type: none;
}

form>section{
  display: block;
  float: left;
  width: 100%;
  font-size: 2rem;
  color: black;
}
.row1b{
  display: block;
  float: left;
  width: 50%;
  color:black;

}

.row1b-d{
  display: block;
  float: left;
  width: 30%;
  margin-right:20%;
}

#row1b-df{
  display: block;
  float: left;
  width: 30%;
  margin-right:20%;
}

#move{
  margin-left: 20%;
}
#pricepoints>p{
  width: 33%;
  display: block;
  float: left;
  text-align: center;
}
#pricepoints>input{
  width: 23%;
  display: block;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

#tradestatus>p{
  margin-top: 2%;
}
#tradestatus>select{
  width: 23%;
  display: block;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}
#entryConditions>p{
  width: 25%;
  display: block;
  float: left;
  text-align: center;
}

#entryConditions>select{
  width: 22%;
  display: block;
  float: left;
  margin-left:2%;
  text-align: center;
}
#learnA,#learnB{
  width: 100%;
  display: block;
  float: left;
  color: black;
  border: 2px solid black;
}
#learnA>p{
  line-height: 1.6;
  text-align: justify;
  margin-left: 5%;
  font-size: 2rem;

}
.part1{
  column-count: 1;
  column-gap: 50px;
  padding: 50px;
}
.part1>p{
  line-height: 1.6;
  text-align: justify;
  margin: 0;
  font-size: 2rem;
}
.star {
  float: left;
  width: 250px;
  shape-outside: url(./img/pic1.jpg);
  shape-margin:20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.part2,.part3{
  column-count: 1;
  column-gap: 50px;
  padding: 50px;
}
.part2>p,.part3>p {
  line-height: 1.6;
  text-align: justify;
  margin: 0;
  font-size: 2rem;}

  .part2>li{
    line-height: 1.6;
    text-align: justify;
    margin: 0;
    font-size: 2rem;}

#pic2{
  width: 60%;
  display: block;
  float: left;
  margin-left:20%;
  margin-right:20%;
}
.moon{
  line-height: 1.6;
  text-align: justify;
  margin: 2%;
  font-size: 2rem;
  background-color:#2badd9;
  float: right;
  shape-outside: inset(1% round 50%);
  margin-left: 20px;
  margin-bottom: 10px;
}
button,input{
  font-size: 3rem;
  margin-left: 5%;

}
#logo{
  width:800px;
  height:200px;
}
.jumbotron{
  color: black;
}
.members-count,
.members-list,
.messages {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 2rem;

}

.messages {
  flex-shrink: 1;
  overflow: auto;
  font-size: 2rem;
}

.message {
  padding: 5px 0;
  font-size: 2rem;

}
.message .member {
  font-size: 2rem;

  display: inline-block;
}

.member {
  font-size: 2rem;

  padding-right: 10px;
  position: relative;
}

.message-form {
  font-size: 2rem;

  display: flex;
  flex-shrink: 0;
}
.message-form__input {
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 2rem;
}
.message-form__button {
  margin: 10px;
  font-size: 2rem;

}
#feedpost{
  display: block;
  float:left;
  width: 70%;
  /* border: 2px solid black; */
  color: black;

}
#chatBody{
  display: block;
  float:left;
  width: 30%;
  color: black;
}

.feedimg{
  display: block;
  float:left;
  width: 90%;
  border: 2px solid black;
  margin-left: 5%;
  margin-right:5%;

}

.info{
  display: block;
  float:left;
  width: 100%;
  /* border: 2px solid black; */
}
h1,h4,h5{
  color:black;
}
.infoA{
  display: block;
  float:left;
  width: 50%;
  text-align: center;
  font-size: 2.2rem;
}
#titleA{
background-color: #FF9800;
border: 2px solid black;
}
#returnA{
  background-color: #757575;
  border: 2px solid black;

}
.titleB{
background-color: #FF9800;
border: 2px solid black;
color:black;
display: block;
float: left;
width: 30%;
text-align: center;
font-size: 3rem;
margin: 4% 10%;
}
.returnB{
background-color: #757575;
border: 2px solid black;
color:black;
display: block;
float: left;
width: 30%;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 3%;
text-align: center;
font-size: 3rem;
}
#username:{
  font-size:2rem;
}

.headerBig{

  background-color: #03A9F4;
  border: 2px solid black;
  color:black;
  display: block;
  float: left;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
  margin-top: 10%;

  text-align: center;
  font-size: 3rem;
}
#caption
{
  background-color: #FFFFFF;
  border: 2px solid black;
  color:black;
  display: block;
  float: left;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
  text-align: center;
  font-size: 2rem;
}
.titleC
{
  background-color: #FF9800;
  border: 2px solid black;
  color:black;
  display: block;
  float: left;
  width: 31%;
  text-align: center;
  font-size: 2rem;
  margin: 1% 1%;

}
.returnC{
background-color: #757575;
border: 2px solid black;
color:black;
display: block;
float: left;
width: 30%;
margin: 1% 1%;

text-align: center;
font-size: 3rem;
}
.titleD
{
  background-color: #FF9800;
  border: 2px solid black;
  color:black;
  display: block;
  float: left;
  width: 80%;
  text-align: center;
  font-size: 2rem;
  margin: 1% 10%;

}
.returnD{
background-color: #757575;
border: 2px solid black;
color:black;
display: block;
float: left;
width: 80%;
margin: 1% 10%;

text-align: center;
font-size: 3rem;
}
.titleE
{
  background-color: #FF9800;
  border: 2px solid black;
  color:black;
  display: block;
  float: left;
  width: 20%;
  text-align: center;
  font-size: 2rem;
  margin: 1% 2%;

}
.returnE{
background-color: #757575;
border: 2px solid black;
color:black;
display: block;
float: left;
width: 20%;
margin: 1% 2%;

text-align: center;
font-size: 3rem;
}
#hide{
  display: none;
}
